<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>U Sport Events</title>
        <link rel="icon" href="./Images/logo.png">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <a href="./index.html"><img src="./Images/logo.png" alt="Logo" height="100" width="200"></a>
            <nav>
                <ul>
                    <li><a href="./newConnection.html">New Event</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </nav>
        </header>

        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./connections.html">Events</a></li>
                </ul>
        </nav>

        <main>
            <section>
                <h2>Welcome to the U Sport Events</h2>
                <article>
                  <p>Want to host or attend a sport event, U Sport is here to help. With a few simple clicks, host an event or attend an event
                      and meet the people with similar passion towards sports. 
                  </p>
                </article>
                <article>
                    <p>Click on Events link to view the hosted events or use New Event link to host a new one.</p>
                </article>
              </section>
        </main>

        <footer>
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#"><img src="./Images/facebook.png" alt="Facebook" height="25" width="25"></a></li>
                    <li><a href="#"><img src="./Images/instagram.png" alt="Instagram" height="25" width="25"></a></li>
                    <li><a href="#"><img src="./Images/twitter.png" alt="Twitter" height="25" width="25"></a></li>
                </ul>
            </nav>
        </footer>

    </body>
</html>